/* These are the google fonts */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: #232a36;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.top-page {
  margin-top: 20px;
}
.header {
  color: #7befb2;
  font-size: 25px;
  background: none;
  font-family: Montserrat;
}
.header:hover {
  color: #ffffff;
}

.profile {
  height: 400px;
  width: 400px;
  margin-top: 70px;
}

.profile-name {
  margin-top: 350px;
  font-size: 50px;
}

.main-name {
  font-size: 50px;
}

.about-me {
  margin-top: 70px;
  background-color: #232a36;
}
.curved-line {
  margin-top: 100px;
}
.curved-line-img {
  width: 100%;
  height: 100px;
}
.development-title {
  text-align: center;
  padding-bottom: 100px;
}
.about-descript {
  color: #ffffff;
}

.about-descript a {
  text-decoration: none;
  color: #7befb2;
}

.projects {
  margin-top: 300px;
  /* max-width: 75%; */
  color: #ffffff;
}

.project-btn {
  background-color: #7befb2;
  width: 200px;
  color: #232a36;
  border-radius: 10px;
  font-size: 20px;
}
.project-btn-two {
  background-color: #7befb2;
  width: 200px;
  margin-left: 50px;
  border-radius: 10px;
  font-size: 20px;
}

.connection-card {
  color: #ffffff;
  background-color: #232a36;
  border: none;
}

.footer-card {
  background-color: #232a36;
  border: none;
}

.footer-title {
  color: #ffffff;
  font-size: 50px;
  text-decoration: none;
}
.footer-title:hover {
  color: #7befb2;
}

.footer-link {
  padding: 20px;
}
