/* These are the google fonts */
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: #232a36;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.nav-title {
  margin-left: -38px;
}

.top-page {
  margin-top: 20px;
}
.header {
  color: #ffffff;
  font-size: 25px;
  background: none;
  font-family: Montserrat, sans-serif;
}
.header:hover {
  color: #7befb2;
}

.profile {
  height: 500px;
  width: 400px;
  background-image: url("../utils/images/chris_profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70px;
}

.profile-name {
  position: relative;
  top: 260%;
  right: 15%;
  font-size: 50px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.card-link:hover {
  color: #ffffff;
}

.about-me {
  margin-top: 70px;
  background-color: #232a36;
  font-family: Montserrat, sans-serif;
  border: none;
}
.profession-title {
  color: #ffffff;
}

.arrow {
  border: solid #7befb2;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 4px;
  margin-bottom: 2px;
}

.project-image {
  margin-left: auto;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.body-text {
  font-size: 18px;
  color: #ffffff;
}
.curved-line {
  margin-top: 100px;
}
.curved-line-img {
  width: 100%;
  height: 100px;
}
.development-title {
  text-align: center;
  font-size: 40px;
  padding-bottom: 100px;
  font-family: Montserrat, sans-serif;
  color: #7f848b;
}
.about-descript {
  color: #7f848b;
}

.about-descript a {
  text-decoration: none;
  color: #7befb2;
}

.projects {
  margin-top: 200px;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
}
.project-title {
  font-size: 22px;
  font-weight: bold;
  color: #7f848b;
}
.project-text {
  color: #ffffff;
  font-size: 18px;
}
.project-btn {
  width: 200px;
  margin: 10px;
  color: #ffffff;
  border-radius: 10px;
  border: solid 2px #7befb2;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  transition: 0.4s ease-in-out;
}

a:active,
a:focus {
  outline: 0;
  border: none;
}

.project-btn:hover {
  background-color: #7befb2;
  color: #232a36;
  border: none;
}

.connect-title {
  font-size: 30px;
  color: #7f848b;
}

.connection-card {
  color: #ffffff;
  background-color: #232a36;
  border: none;
  font-family: Hubballi, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.footer-card {
  background-color: #232a36;
  border: none;
}

.footer-title {
  color: #ffffff;
  font-size: 50px;
  text-decoration: none;
}
.footer-title:hover {
  color: #7befb2;
}

.footer-link {
  padding: 20px;
}

@media (max-width: 767.98px) {
  body {
    margin: auto;
  }
  .nav-icon {
    margin-left: 70%;
  }
  .nav {
    margin: auto;
    margin-top: 10px;
  }
  .profile {
    width: auto;
  }

  .profile-name {
    left: 2%;
  }

  .about-me {
    margin: auto;
  }
  .project-btn {
    display: inline;
    font-size: small;
  }

  .second-btn {
    width: auto;
    color: #232a36;
    border-radius: 10px;
    background-color: #7befb2;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    float: right;
    margin-left: 5px;
  }

  .curved-line {
    display: none;
  }

  .projects {
    text-align: center;
  }

  .project-text {
    display: inline-block;
    margin: 45px 20px 0 20px;
    padding: 20px;
  }

  .connect-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .connect-text-two {
    margin-left: 50%;
    margin-top: -33%;
  }
}
@media (max-width: 991.98px) {
  .nav-title {
    margin-left: -20px;
  }

  .about-me {
    margin-top: 25px;
  }

  .profile-name {
    top: 260%;
    right: 10%;
  }
  .project-btn {
    width: 150px;
    margin: 5px;
    color: #232a36;
    border-radius: 10px;
    background-color: #7befb2;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
  }
}
